.audio-player-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .player-btn-group {
    margin: 0px 5px;
    order: 0;
  }
  .player-volumn {
    margin: 0px;
    order: 1;
    span {
      display:inline-block;
      vertical-align: middle;
      &:first-child{
        margin-right:5px;
      }
    }
  }
  .player-btn-color-bg {
    background-color: rgb(233, 236, 18);
  }
}