.music-staff-page {
  position: relative;
  margin-right: 2px;
  .music-staff-head-container {
    height:45px;
  }
  .music-staff-section {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    border-top: 1px solid rgb(248, 222, 116);
    border-bottom: 1px solid rgb(248, 222, 116);
    margin-left:3px;
    max-height: calc(100vh - 135px);
  }
}