/* styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 800px;
  max-width:2200px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}
.homeDiv{
  
}
.centerInParent {
  text-align: center;
  line-height: 100%;
}
.note {
  font-size: 72px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  user-select: none;
}
.noteFlip {
  width:28px;
  height:80px;
}
.note_2th_flip {
  background-color: #000000;
  background-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../resources/images/note_2th_flip.svg);
  -webkit-mask-image: url(../resources/images/note_2th_flip.svg);
}
.note_4th_flip {
  background-color: #000000;
  background-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../resources/images/note_4th_flip.svg);
  -webkit-mask-image: url(../resources/images/note_4th_flip.svg);
}
.note_8th_flip {
  background-color: #000000;
  background-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../resources/images/note_8th_flip.svg);
  -webkit-mask-image: url(../resources/images/note_8th_flip.svg);
}
.note_16th_flip {
  background-color: #000000;
  background-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../resources/images/note_16th_flip.svg);
  -webkit-mask-image: url(../resources/images/note_16th_flip.svg);
}
.note_32th_flip {
  background-color: #000000;
  background-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../resources/images/note_32th_flip.svg);
  -webkit-mask-image: url(../resources/images/note_32th_flip.svg);
}
.noteRotate {
  transform-origin: 50% 90%;
  transform: rotate(180deg);
}
.staffLineSeg {
  width: 100%;
  height: 2px;
  border-bottom: 1px solid black;
  position: absolute;
}
.staffLineSegFlipNote {
  width:30px;
  left:-5px;
}
.noteAugmentDot {
  position:absolute;
  border:none;
  font-size:50px;
  line-height:10px;
}
.noteScaleLeft{
  position:absolute;
  border:none;
  font-size:24px;
  line-height:10px;
}
.noteKey {
  font-size: 36px;
}
.noteLabel {
  position: absolute;
  font-size: 12px;
  top: 100px;
  left: 8px;
}
.filpNoteLabel {
  position: absolute;
  font-size: 12px;
  top: 15px;
  left: 0px;
}
.staffLines {
  user-select: none;
  font-size: 14px;
  color:#000000;
  position:relative;
  border: none;
  width: 100%;
}
.staffLinesContent{
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
.clef{
  font-size: 100px;
  position: absolute;
  top:45px;
  left: 5px;
  line-height: 100%;
}

table {
  width: 100%;
}
table#audioControl label{
  margin:0px;
}
th {
  border: 2px solid black;
  height: 20px;
}
td.show {
  border: 1px solid black;
  height: 20px;
}
td.halfshow {
  border: 1px dashed black;
  height: 20px;
}
td.hide {
  border: none;
  height: 20px;
}
.violinTr {
  height:70px;
}
.violinT {
  width: 360px;
}
.violinTd {
  width: 60px;
}
.violinBoard{
  background-color: #d5d5d5;
}
.violinBoardNote{
  border:1px solid blue;
  border-radius: 25px;
  font-size: 12px;
  position:absolute;
  top: -24px;
  left: 33px;
  background-color: #b8daff;
  color: #000000;
  height:50px;
  width:50px;
  line-height: 50px;
  text-align: center;
}
.violinBoardNoteSelect{
  background-color: #e30ff7;
}
.noteSelected{
  color:#f0ad4e;
}
.noteSelectedBg{
  background-color: #f0ad4e;
}
.arrow {
  border: solid #80bdff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.scrollUp {
  max-height: 0px;
  width:200px;
  overflow: hidden;
  height:auto;
  transition: 0.5s;
  transition-timing-function:ease-in-out;
}
.scrollUpShow {
  max-height: 300px;
}

.audioFilter {
  display: flex;
  flex-direction: row;
}

.customModalShow{
  display:block;
}

.customModalHide{
  display:none;
  transition: 0.5s linear
}