.account-page {
  .account-container {
    height: 60vh;
    width: 50%;
    margin: 20px auto;
    .error-msg {
      margin: 0px 20px;
    }
    .loading {
      text-align: center;
      display: block;
      padding-top: 30%;
    }
    .toggle-btn {
      float: right;
    }
    .profile-container {
      span {
        margin: 0 15px;
      }
      .profile-controls {
        margin: 15px 15px;
      }
    }
  }
}