
.prepare-timer-modal {
  text-align: center;
  font-size: 12em;
  color: orange;
  .modal-content {
    background-color: transparent;
    border: none;
  }
}
.prepare-timer-backdrop {
  background-color: transparent;
}