.music-audio-page {
  margin:"20px 0px 0px 0px"; 
  display: grid;
  grid-template-rows: 30px auto;
  grid-template-columns: auto 400px;
  grid-template-areas: 
    "control control" 
    "score audio";
  justify-items: stretch;
  align-items: stretch;
  .control-section {
    grid-area: control;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    .score-picker-button {
      order: 0;
      flex-basis: auto;
      margin: 0px 20px;
    }
    .player-section {
      order: 1;
      flex-basis: auto;
    }
  }
  .score-section {
    grid-area: score;
  }
  .audio-section {
    grid-area: audio;
  }
}

