.music-audio-page {
  display: grid;
  grid-template-rows: 30px auto;
  grid-template-columns: auto 400px;
  grid-template-areas: 
    "control control" 
    "score audio";
  justify-items: stretch;
  align-items: stretch;
  width: 100vw;
  height: 100%;
  .control-section {
    grid-area: control;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    .score-picker-button {
      order: 0;
      flex-basis: auto;
      margin: 0px 10px 0px 20px;
    }
    .filter-picker-button {
      order: 1;
      flex-basis: auto;
      margin: 0px 10px;
    }
    .audio-setting-button {
      order: 2;
      flex-basis: auto;
      margin: 0px 10px;
    }
    .player-section {
      order: 3;
      flex-basis: auto;
      margin: 0px 10px;
    }
  }
  .score-section {
    grid-area: score;
  }
  .audio-section {
    grid-area: audio;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    .violin-container {
      order: 1;
      flex-basis: auto;
      text-align: center;
      height: 100%;
    }
    .violin-caption {
      font-size: 14px;
      margin: 5px 0px;
    }
  }
}

