@import '../../styles/variables.scss';
.appNav {
  font-size: 16pt;
  background: $dark-color;
  padding:0px;
  height: 40px;
  a {
    color: $color-0;
    line-height: 40px;
    margin: 0 15px;
    text-align: center;
  }
  a:hover {
    color: $color-1
  }
  a:active, a:focus {
    color: $color-2
  }
}