.violin-table {
  width: 100%;
  height: 80%;
  text-align: center;
  .violin-table-tr {
    .violin-table-td {
      width: 60px;
      height: 60px;
      .board-note-container {
        position:relative;
        .violinBoardNote{
          border:1px solid blue;
          border-radius: 25px;
          font-size: 12px;
          position:absolute;
          top: -24px;
          left: 33px;
          background-color: #b8daff;
          color: #000000;
          height:50px;
          width:50px;
          line-height: 50px;
          text-align: center;
          cursor: pointer;
        }
        .violinBoardNoteSelect{
          background-color: #e30ff7;
        }
        .violinBoardNoteClick {
          background-color: yellow;
        }
        .violinBoardAudioHigh {
          background-color: red;
        }
        .violinBoardAudioLow {
          background-color: green;
        }
      }
    }
    .violin-board {
      background-color: #d5d5d5;
    }
  }
}